In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [22]:
df = pd.read_csv('../data/model_inputs/zips_with_clusters.csv')
#new_df = pd.read_csv('../data/processed/arrests_outside_buffer_by_zip_2016.csv')
other_df = pd.read_csv('../data/model_inputs/model_input.csv')

In [23]:
extra_columns = list(set(other_df.columns) - set(df.columns))
arrest_features = ['law_cat_cd', 'arrest_count']
dog_bit_features = ['dog_bit_count']
other_df

,year,zip,dog_bite_count,median_days_on_market,active_listing_count,median_listing_price,median_listing_price_per_square_foot,ADULT SERVICES,CAMPS,CHILD SERVICES AND WELFARE,...,TRANSPORTATION,VOCATIONAL AND PROPRIETARY SCHOOLS,WATER AND WASTEWATER,YOUTH SERVICES,cluster,arrest_year,law_cat_cd,arrest_count,revised_market_value,borough
0,2016,10001,4,86.5,71.0,3575000.0,2104.0,0.0,2.0,11.0,...,57.0,52.0,0.0,38.0,2.0,2016.0,F,6.0,4.866892e+06,Manhattan
1,2016,10001,4,86.5,71.0,3575000.0,2104.0,0.0,2.0,11.0,...,57.0,52.0,0.0,38.0,2.0,2016.0,F,6.0,4.866892e+06,Manhattan
2,2016,10001,4,86.5,71.0,3575000.0,2104.0,0.0,2.0,11.0,...,57.0,52.0,0.0,38.0,2.0,2016.0,M,3.0,4.866892e+06,Manhattan
3,2016,10001,4,86.5,71.0,3575000.0,2104.0,0.0,2.0,11.0,...,57.0,52.0,0.0,38.0,2.0,2016.0,M,3.0,4.866892e+06,Manhattan
4,2016,10002,18,62.0,107.0,1305000.0,1849.5,8.0,2.0,29.0,...,26.0,2.0,0.0,137.0,3.0,NaN,NaN,NaN,1.367783e+07,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3567,2023,12414,1,54.0,25.0,488500.0,212.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3568,2023,12455,1,82.5,6.0,468500.0,292.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3569,2023,12543,1,34.0,3.5,301975.0,191.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3570,2023,12771,1,61.5,43.5,252250.0,171.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3571,2023,14204,1,49.0,4.0,91687.5,63.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#!pip install geopandas
import geopandas as gpd

g_df = gpd.read_file('../data/raw/ny_new_york_zip_codes_geo.min.json')


def avg_val(zi):

    test = g_df[g_df['ZCTA5CE10'] == str(int(zi))]
    li = gpd.sjoin(g_df, test)['ZCTA5CE10_left'].astype(int).to_list()

    if int(zi) in li:
        li.remove(int(zi))
    if len(li) == 0:
        li.append(0)
    return df[df.zip.isin(li)].revised_market_value.mean()

In [5]:
df['neighbor_average'] = df.zip.map(avg_val)
df = df.dropna()

In [6]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(['revised_market_value', 'Unnamed: 0', 'zip'], axis = 1), df[['revised_market_value']], test_size=0.2, random_state=42)

In [7]:
#!conda install python=3.11.0 --yes
!python --version

Python 3.10.15

In [8]:
#!pip install pycaret
#!pip install mlflow
from pycaret.regression import *

In [9]:
clf1 = setup(df.drop(['Unnamed: 0', 'zip'], axis = 1), target = 'revised_market_value', session_id=123, log_experiment=False, experiment_name='Cluster1')

In [10]:
best_model = compare_models()

In [251]:
from sklearn.linear_model import HuberRegressor
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline


reg = HuberRegressor()

pipeline = Pipeline([
        ('scaler', StandardScaler()),
        ('huber', reg)  
    ])


pipeline.fit(X_train, y_train)

comp = y_test.copy()
comp['pred'] = pipeline.predict(X_test)
comp['err'] = (abs(comp['revised_market_value']-comp['pred'])/comp['pred'])*100


m_comp = df[['Cluster', 'zip']].merge(comp, left_index = True, right_index = True)
m_comp.sort_values(by = 'err')

     Cluster      zip  revised_market_value          pred          err
134        1  11213.0          1.068843e+06  1.112107e+06     3.890283
154        1  11234.0          1.317275e+06  1.411530e+06     6.677497
15         2  10018.0          2.702798e+06  3.230768e+06    16.341937
164        1  11355.0          1.597785e+06  1.913453e+06    16.497319
18         2  10021.0          1.923310e+06  2.373688e+06    18.973753
133        0  11212.0          4.215769e+05  5.334795e+05    20.975982
174        3  11366.0          9.162027e+05  1.297529e+06    29.388669
83         0  10452.0          1.540250e+06  1.156438e+06    33.189099
90         1  10459.0          5.832229e+05  9.387598e+05    37.873048
92         1  10461.0          9.745397e+05  1.626643e+06    40.088907
19         2  10022.0          4.015181e+06  2.775178e+06    44.681902
104        1  10473.0          4.393349e+05  8.612236e+05    48.987124
130        1  11209.0          2.478415e+06  1.654909e+06    49.761351
193        3  11417.0          5.545255e+05  1.196027e+06    53.636026
9          2  10011.0          1.707689e+06  3.821531e+06    55.313993
189        1  11413.0          4.782368e+05  1.079401e+06    55.694229
156        0  11236.0          1.124224e+06  7.166531e+05    56.871482
180        1  11373.0          2.205014e+06  1.400536e+06    57.440699
137        1  11216.0          5.497382e+05  1.377305e+06    60.085941
188        1  11412.0          4.459338e+05  1.118599e+06    60.134625
168        3  11360.0          2.143641e+06  1.325173e+06    61.763095
74         1  10305.0          4.917525e+05  1.310920e+06    62.487994
132        1  11211.0          5.734692e+05  1.567557e+06    63.416376
80         1  10312.0          4.951264e+05  1.614834e+06    69.338865
79         1  10310.0          4.585915e+05  1.498830e+06    69.403377
81         0  10314.0          5.278296e+05  2.184913e+06    75.842075
131        1  11210.0          2.732172e+06  1.533176e+06    78.203404
30         1  10033.0          4.074865e+05  2.118208e+06    80.762678
5          3  10006.0          3.057820e+06  1.684125e+06    81.567278
176        1  11368.0          1.744590e+06  9.409252e+05    85.412220
16         2  10019.0          5.799146e+06  2.919323e+06    98.646982
166        3  11357.0          2.686385e+06  1.313340e+06   104.546150
82         0  10451.0          3.338417e+06  1.372048e+06   143.316280
181        3  11374.0          7.247252e+06  1.712949e+06   323.086293
24         0  10027.0          1.546268e+07  3.175150e+06   386.990336
177        3  11369.0          8.170029e+06  1.452596e+06   462.443215
165        3  11356.0          6.383671e+06  1.104793e+06   477.816066
116        0  11101.0          1.195052e+07  1.949223e+06   513.091560
54         3  10154.0          2.963560e+07  1.230615e+06  2308.194434

In [252]:
i_df = pd.DataFrame(reg.coef_)
i_df.index = df.drop(['revised_market_value', 'Unnamed: 0', 'zip'], axis = 1).columns
i_df['p/n'] = '+'
i_df.loc[i_df[0] < 0, ['p/n']] = '-'
i_df[0] = abs(i_df[0])
i_df.sort_values(by = 0, ascending = False)

                                                           0 p/n
HIGHER EDUCATION                               189060.139805   +
HISTORICAL SITES                               144558.313518   +
CHILD SERVICES AND WELFARE                     141433.534825   -
ADULT SERVICES                                 131162.992062   +
VOCATIONAL AND PROPRIETARY SCHOOLS             125987.604300   +
CULTURAL INSTITUTIONS                          114142.334869   +
PUBLIC SAFETY                                   96676.052599   -
JUSTICE AND CORRECTIONS                         92808.769921   -
CAMPS                                           84823.707790   +
TRANSPORTATION                                  82339.186576   +
WATER AND WASTEWATER                            58610.009144   -
PARKS AND PLAZAS                                46210.810000   +
HEALTH CARE                                     45388.384402   +
OFFICES, TRAINING, AND TESTING                  42180.629934   -
neighbor_average                                41510.157737   +
LIBRARIES                                       38702.067976   +
SOLID WASTE                                     35188.001834   -
Cluster                                         34601.308103   -
OTHER PROPERTY                                  27801.677244   -
TELECOMMUNICATIONS                              24702.851524   +
HUMAN SERVICES                                  24202.636657   -
MATERIAL SUPPLIES AND MARKETS                   23284.042027   -
YOUTH SERVICES                                  14720.670561   -
CITY AGENCY PARKING, MAINTENANCE, AND STORAGE   10752.529661   -
SCHOOLS (K-12)                                   7358.587551   -
EMERGENCY SERVICES                               3751.579822   +
DAY CARE AND PRE-KINDERGARTEN                    2647.058627   -